*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    scroll-behavior: smooth;
}


:root {
    --bg-color: #021024;
    --container-color:  #052659;
    --text-color: #dee1e6;
    --hover-color: #733c7a;
    --button-color: #681304;
  }

body{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Roboto, sans-serif;
  background-color: var(--bg-color);
}

.wrapper{
  width: 100%;
  height: auto;
}


.main-body {
  justify-content: center;
  border-radius: 6.5px;
  float: left;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  background-color: var(--container-color);
  width: 600px;
  height: 400px;
  margin-top: -650px;
  margin-left: 650px;
  margin-bottom: 150px;
  z-index: -1;
}

.text {
  text-align: center;
  justify-content: center;
  margin-left: 25px;
  padding-bottom: 10px;
  margin-bottom: 10px;
}


.image img {
  padding-top: 30px;
  margin-left: 210px;
  
}

.image #bg{
  width: 650px;
  margin-top: -80px;
}

.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    padding: 2.5rem 2%;
    padding-left: 2.5%;
    display: flex;
    justify-content: space-between;
    align-items: left;
    z-index: 100;
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
  }

  footer{
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    padding: 2.5rem 2%;
    padding-left: 2.5%;
    display: flex;
    justify-content: space-between;
    align-items: left;
    z-index: 100;

  }

  
footer h2 {
  margin-bottom: -150px;
  color: var(--text-color);
}
  
  .header h2 {
    font-size: 200%;
    font-weight: 850;
    margin-top: -20px;
    color: var(--text-color);
  }
  
  .navbar {
    padding-right: -100px;
    color: var(--text-color);
  }
  
  .navbar a {
    font-size: 1.3rem;
    margin-left: 1.5rem;
    margin-right: 5rem;
    font-weight: 200;
    transition: 0.3 ease;
    color: var(--text-color);
    font-weight: 650;
    padding-top: 50px;
  }
  
  .navbar a:hover {
    border-bottom: 3px solid var(--hover-color);
    color: var(--hover-color);
  }
  
span {
    color: #ce442c;
  }

h1{
    padding-top: 35px;
    color: var(--text-color)
}

p{
    padding-top: 20px;
    color: var(--text-color);
}


.btn {
  position: absolute;
  width: 210px;
  height: 35px;
  background: transparent;
  border: 2px solid var(--text-color);
  border-radius: 15px;
  color: rgb(230, 18, 18);
  font-size: 20px;
  margin-top: 30px;
  margin-left: -105px;
}

.btn a {
  text-decoration: none;
  color: var(--white-color);
  padding-top: 50px;
  font-weight: 500;
  font-family: Roboto, sans-serif;
}
